{
	"api":"json",
	"key":"mykey",

	"actions":{
		"list":{
			"url":"https://api.digitalocean.com/v2/droplets",
			"method":"GET"
		},
		"distros":{
			"url":"https://api.digitalocean.com/v2/droplets?type=distribution",
			"method":"GET"
		},
		"create":{
			"url":"https://api.digitalocean.com/v2/droplets",
			"method":"POST",
			"requires":["region", "size", "image", "name"],
			"requestdata":{
				"region":"lon1",
				"size":"512mb",
				"image":"22222654"
			}
		},
		"snapshot":{
			"url":"https://api.digitalocean.com/v2/droplets/$id/actions",
			"method":"POST",
			"requires":["type","name","id"],
			"requestdata":{
				"type":"snapshot"
			}
		},
		"create-big":{
			"url":"https://api.digitalocean.com/v2/droplets",
			"method":"POST",
			"requires":["region", "size", "image", "name"],
			"requestdata":{
				"region":"lon1",
				"size":"2gb",
				"image":"22222654"
			}
		},
		"destroy":{
			"url":"https://api.digitalocean.com/v2/droplets/$id",
			"method":"DELETE",
			"requires":["id"],
			"requestdata":{
			}
		}
	}
}
